#entryfield {
    overflow: auto;
    overflow-wrap: break-word;
    border: 0px;
    resize: none;
    background: #000;
    color: #fff;
    font: 14px Menlo, monospace
}

#bottombar {
    background: #444;
    color: #D9D9D4;
    display: flex;
}

#display {
    overflow-wrap: break-word;
    max-width: 650px;
    min-width: 450px;
}

textarea:focus, input:focus{
    outline: none;
}
body{
    margin:0px !important;
}

button:first-child {
    margin-right: auto;
}

button {
    /*margin: 5px;*/
}